@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #ffe6f2;
  color: #333;
}


/* Estilização da barra de rolagem do navegador */
html::-webkit-scrollbar {
  width: 14px;
}

html::-webkit-scrollbar-track {
  /* Usa a variável que o React acabou de criar */
  background: var(--cor-barra-fundo, #f0f0f0);
}

html::-webkit-scrollbar-thumb {
  /* Usa a cor vibrante da categoria atual */
  background-color: var(--cor-barra-destaque, #ff69b4);
  border-radius: 20px;
  /* Cria uma borda invisível para dar o efeito de "pílula" solta */
  border: 4px solid var(--cor-barra-fundo, #f0f0f0);
}

html::-webkit-scrollbar-thumb:hover {
  filter: brightness(0.8);
}

/* Para o Firefox (que é mais chatinho) */
html {
  scrollbar-width: auto;
  scrollbar-color: var(--cor-barra-destaque) var(--cor-barra-fundo);
}